*
{
	font-family: sans-serif;
}
input.err {
	background-color: white;
}

.err {
	color: red;
}

.login-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}
h1 {
    display: block;
    font-size: 32px;
    -webkit-margin-before: 10.72px;
    -webkit-margin-after: 10.72px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}


input[type="text"],input[type="password"],input[type="email"],input[type="number"]{
	
 	background: -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
    background: -moz-linear-gradient(top, #000000, #FFFFFF 25px);
    border: 1px solid rgba(0, 0, 0, 0.16);
    height: 25px;
    padding: 5px 10px 5px 5px;
    text-shadow: 0px 0px 0px #828282;
    font-size: 15px;
    width: 250px;
    border-radius: 5px;
}

input[type="text"]:hover,input[type="password"]:hover,input[type="email"]:hover,input[type="number"]:hover{
	
	box-shadow: 2px 2px 5px #888888;
	border: 0px;
}


::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  font-color: #d0cecf;
}

:-moz-placeholder { /* Firefox 18- */
  font-color: #d0cecf;
}

::-moz-placeholder { /* Firefox 19+ */
  font-color: #d0cecf;
}

:-ms-input-placeholder { /* IE 10+ */
  font-color: #d0cecf
}

::-ms-input-placeholder { /* Edge */
  font-color: #d0cecf
}

:placeholder-shown { /* Standard one last! */
  font-color: #d0cecf;
}


	
input[type='submit'],input[type='button']
{
width: 125px;
float:left;
height: 34px;
border: 2px solid white;
background-color:#CCC;
border-radius: 5px;


}
input[type='submit']:hover, input[type='button']:hover
{

border: 2px solid white;
background-color:#51bffb;
color:#fff;
}

input[type='submit']:focus, input[type='button']:focus
{

border: 2px solid white;
background-color:#4d90fe;
color:#fff;
}
.login-card {
	
    width: 277px;
    margin-left: auto ;
  margin-right: auto ;
    background: linear-gradient(to bottom, #86aecc 50%, #d4e4ef 100%);
    margin: 0 auto 30px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 45px 45px 55px 55px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.login-links {
    width: 100%;
    text-align: center;
    font-size: 15px;
}
.login-card a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}
.input_wrap
{
	display: inline-block;
	    width: 250px;
	    font-size: 15px;
}
label{
	color: #008040;
	display: table-cell;
}
.button_gp{
	margin-left: 5px;
}

